/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background: url(images/themebg.jpg);
    background-size:cover;
    background-attachment: fixed; 
    background-position:center;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

/* Container for the form */
.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /* background:transparent;  */
    background: rgba(166, 228, 255, 0.15);
    /* backdrop-filter:blur(10px); */
}


/* Close button */
.close-btn {
    float: right;
    font-size: 20px;
}

.close-btn a {
    text-decoration: none;
    color: #ff0000; /* Red color for close button */
}

/* Form heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form paragraph */
p {
    text-align: center;
    margin-bottom: 20px;
    color: #535050;
    
}

/* Fieldset styling */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #535050;
}

/* Legend styling */
legend {
    font-weight: bold;
    padding: 0 10px; /* Add some padding around the legend */
    font-size: larger;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea{

    width: 98%;
    padding: 10px;
    margin-bottom: 18px;
    border:none;
    border-radius: 10px;
    box-shadow: 9px 9px 12px rgb(218, 244, 253);
    outline: none;
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.1rem;
    color: #535050; 
}

/* Textarea styling */
textarea {
    resize: vertical; /* Allow vertical resizing only */
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:crimson; /* Darker green on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    button {
        font-size: 14px;
    }
}