body {
    font-family: Arial, sans-serif;
    background-color: #ff7700;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}
.left-section {
    background-color:#ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    width: 68%;
    box-shadow: 5px 5px 10px rgba(210, 211, 230, 0.5);
}
.right-section {
     width: 28%;
     height:60%;
    display:block;
    justify-content: space-between;
}
.right-section1,.right-section2{
    background-color:#ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(210, 211, 230, 0.6);
}
.close-btn a{
    position: absolute;
    text-decoration: none;
    color: #000000;
    top:30px;
    left:66%;
    cursor: pointer;
    font-weight: 600;
    font-size:1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plan-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.plan-title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

.tab_active a{
    text-decoration: none;
    color:#000000;
}
.tab_active a:hover{
    color: #007bff;
    border-bottom: 2px solid #007bff; 
}

.highlights {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.highlight {
    background-color:#e1f6ff; 
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0px 10px rgba(218, 211, 211, 0.5);
}
.highlight i {
    color: #ffe312;
    font-size: 24px;
    margin-bottom: 10px;
}
.highlight p{
    color:#6c757d
}

.coverage {
    margin-bottom: 20px;
}
.coverage h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.coverage p{
    color: #6c757d;
}
.coverage-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.coverage-item i {
    color: #4caf53;
    margin-right: 10px;
}

.summary {
    text-align: center;
}
.summary .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.summary .details {
    font-size: 16px;
    margin-bottom: 20px;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.summary-item span {
    font-size: 16px;
}
.summary .details .amount {
    font-size: 20px;
    font-weight: bold;
}
.summary .details .monthly {
    background-color:#e1f6ff; 
    border-radius: 10px;
    padding: 10px;
    color: #6c757d;
}
.summary .benefits {
    background-color: #358ff0;
    color:white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(7, 0, 0, 0.5);
}
.summary .button {
    background-color:  #28A745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.summary .more{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.summary h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.summary a{
    text-decoration: none;
    color:#000000;
}
.summary a:hover{
    color: #007bff; 
}
.summary p{
    color:#6c757d;
}
/*Mobile Styles */
 @media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .left-section, .right-section {
        width: 95%;
        padding: 15px;
        margin-bottom: 20px;
    }
    .close-btn a {
        top: 30px;
        left: 90%;
        font-size: 1.2rem;
    }
    .header {
        font-size: 20px;
    }
    .tabs {
        flex-direction:column;
    }
    .highlights {
        flex-direction: column;
    }
    .highlight {
        width: 95%;
        margin: 5px ;
    }
} 
