* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image:linear-gradient(to right,rgba(255,0,0,0), #33a1d7); */
    background: url(https://images.pexels.com/photos/4021810/pexels-photo-4021810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 80%;
}

h1 {
    text-align: center;
    color: #2a659f; 
    margin-bottom: 20px;
}

h2 {
    color: #014893;
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: rgb(81, 78, 78);
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="file"] {
    padding: 8px;
}

.terms {
    margin-top: 10px;
    margin-bottom: 20px;

}

.submit-btn {
    background-color:  #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #014893;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}