* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background: url(images/bg.jpg);
    /* background: url(https://images.pexels.com/photos/4021810/pexels-photo-4021810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.close-btn a{
    position: absolute;
    text-decoration: none;
    color: #000000;
    top:30px;
    left:90%;
    cursor: pointer;
    font-weight: 600;
    font-size:2.0rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.container {
    background-color: rgba(255, 255, 255, 0.85);
 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 80%;
}

h1 {
    text-align: center;
    color: #2a659f; 
    margin-bottom: 20px;
}

h2 {
    color: #014893;
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 15px 5px;
    width:100%
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    height:50px;
    padding: 20px;
    margin-bottom: 15px;
    border:none;
    border-radius: 15px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

input[type="file"] {
    padding: 15px;
}
.container input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.0rem;
    color: #333;
}
.container::placeholder{
    color: #aaa;
    font-weight: 500;
}
.terms {
    margin-top: 10px;
    margin-bottom: 20px;

}

.submit-btn {
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #007bff;;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}

.submit-btn:hover {
    background-color: crimson;
}

@media (max-width: 760px) {
    .container {
        padding: 20px;
    }
}